// Font-size

$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 28px;
$font-xxl: 32px;

// Colors

$primary-color: #0d6efd;
$secondary-color: #6c757d;
$success-color: #198754;
$info-color: rgb(40, 53, 147);
$warning-color: #ffc107;
$danger-color: #dc3545;