*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body{
    font-family: 'sans-serif', arial;
    padding: 0px 50px;
}
html{
    overflow-x: hidden;
}
section{
    padding: 75px 0px 50px 0px;
}
@import 'variables';

// Navbar
.navbar{
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 75px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    .nav-left{
        display: flex;
        h3{
            font-size: $font-xl;
        }
    }
    .nav-right{
        display: flex;
        align-items: center;
        a{
            margin-left: 10px;
            padding: 10px;
            font-size: $font-sm;
            color: #000;
        }
        .login-btn{
            background: $primary-color;
            color: #fff;
            padding: 10px 50px;
            border-radius: 50px;
            margin-left: 45px;
        }
    }
}

// Home section 
.home-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .home-bio{
        width: 100%;
        height: 85vh;
        margin: 50px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .home-left{
            height: 500px;
            width: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                text-transform: uppercase;
                font-size: $font-xxl + 25px;
                font-weight: bolder;
                margin-bottom: 40px;
                letter-spacing: 5px;
            }
            p{
                font-size: $font-lg;
                font-weight: 100;
                margin-bottom: 40px;
                letter-spacing: 3px;
            }
            a{
                padding: 15px 35px;
                display: inline-block;
                width: 220px;
                border: 3px solid $info-color;
                font-size: $font-xl;
                text-transform: capitalize;
                color: $info-color;
                transition: all 0.4s ease;
                &:hover{
                    background: $info-color;
                    color: #fff;
                }
            }
        }
        .home-right{
            width: 600px;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 500px;
                border-radius: 50%;
            }
        }
    }

    .about-me{
        width: 100%;
        display: flex;
        flex-direction: column;
        .about-container{
            height: 350px;
            width: 100%;
            font-family: 'Times New Roman', Times, serif;
            .about-title{
                font-size: $font-lg + 4px;
                margin: 30px 0px;
            }
            h1{
                font-size: $font-xxl + 10px;
                color: $info-color;
            }
            h3{
                font-size: $font-lg;
                color: $info-color;
                margin: 30px 0px 25px 0px;
            }
            .about-para{
                font-size: $font-md;
                line-height: 35px;
            }
        }

        .tech-stack-container{
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .texh-stack-img{
                height: 500px;
                width: 600px;
                display: flex;
                align-items: center;
                margin: 0px 50px;
            }
            .tech-stack{
                height: 500px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: $font-sm;
                    line-height: 30px;
                }
                .html-css{
                    margin: 40px 0px;
                }
            }
        }
    }

    .footer-section{
        display: flex;
        align-items: center;
        justify-content: center;
        .footer-items{
            letter-spacing: 3px;
            font-weight: bold;
            font-size: $font-sm - 2px;
            a{
                color: #363535;
                text-decoration: underline;
                font-weight: 100;
            }
        }
    }
}
